global
  log stdout format raw local0

defaults
  log global
  mode tcp
  option tcplog
  timeout connect 5s
  timeout client 60s
  timeout server 60s

frontend http_in
  bind :80
  default_backend caddy_http

backend caddy_http
  server caddy host.docker.internal:8080 check

frontend https_in
  bind :443
  default_backend caddy_https

backend caddy_https
  server caddy host.docker.internal:8443 check
